
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="person-card">
        <img class="text-center" src="https://placehold.it/250x250" alt="">
        <p>Name: Stanley Liu</p>
        <p>Email: stanleyliu@berkeley.edu</p>
        <p>Invested: $9736.23</p>
      </div>
      <div class="stocks-list">
        <h3 style="display: inline;">Stocks</h3>
        <div style="display: inline-block; font-size: 2em; background-color: #CCCCCC; height: 37px; width: 37px; text-align: center; border-radius: 9999px; float: right; padding-top: 7px;"><i class="fa fa-plus"></i></div>
        <div ng-repeat="stock in stocks">
          <p>{{stock.name}}</p>
          <p style="display: inline; float: right;">{{stock.price}} {{stock.change}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <nav>
        <button ui-sref=".portfolio" class="btn">Portfolio</button>
        <button ui-sref=".stocks" class="btn">Stocks</button>
        <button ui-sref=".analytics" class="btn">Analytics</button>
      </nav>
      <br>
      <div ui-view style="margin-left: 15px;"></div>        
    </div>
  </div>
</div>
