
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <button class="btn">List</button>
        <button class="btn">All</button>
        <button class="btn">Rising</button>
        <button class="btn">Descending</button>
      </div>      
    </div>
    <div class="input-group col-md-6">
      <input type="text" class="form-control" placeholder="Filter graphs">
      <span class="input-group-btn">
        <button class="btn" type="button">Search</button>
      </span>
    </div>
  </div>
  <div id="container1" class="stock-line-graph"></div>
  <div id="container2" class="stock-line-graph"></div>
  <div id="container3" class="stock-line-graph"></div>
</div>