
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="person-card">
        <img class="text-center" src="https://placehold.it/250x250" alt="">
        <p>Name: Stanley Liu</p>
        <p>Email: stanleyliu@berkeley.edu</p>
        <p>Invested: $9736.23</p>
      </div>
      <div class="stocks-list">
        <h3>Stocks</h3>
        <div></div>
        <div ng-repeat="stock in stocks">
          <p>{{stock.name}}</p>
          <p style="display: inline; float: right;">{{stock.price}} {{stock.change}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-9" ng-controller="DashboardTabsCtrl">
      <nav>
        <button ui-sref=".portfolio" class="btn">Portfolio</button>
        <button ui-sref=".stocks" class="btn">Stocks</button>
        <button ui-sref=".analytics" class="btn">Analytics</button>
      </nav>
      <br>
      <div ui-view></div>        
    </div>
  </div>
</div>
