<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-image text-center">
        <img class="col-md-8 col-md-offset-2" src="{{userData.pictureUrl}}" alt="">
        <span class="card-title">{{userData.displayName}}</span>
      </div>
      <div class="card-content text-center">
        <p class="dashboard-content">{{userData.email}}</p>
      </div>
      <hr width="90%">
      <div class="card-action text-center">
        <p class="dashboard-content">Total Expenditure: {{totalExpenditure}}</p>
        <a href="#" target="new_blank">Link</a>
        <a href="#" target="new_blank">Link</a>
        <a href="#" target="new_blank">Link</a>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <h4 class="dashboard-content">Purchased</h4>
    <table class="table profile-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>Shares</th>
          <th>Total</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Sell</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stockPurchased in stocksPurchased">
          <td>{{stockPurchased.name}}</td>
          <td>{{stockPurchased.symbol}}</td>
          <td>{{stockPurchased.priceBought.toFixed(2)}}</td>
          <td>{{stockPurchased.shares}}</td>
          <td>{{stockPurchased.priceBought.toFixed(2) * stockPurchased.shares}}</td>
          <td>{{stockPurchased.status}}</td>
          <td><button class="btn btn-edit" data-toggle="modal" data-target="#editPurchasedModal">Edit</button></td>
          <td><button class="btn btn-delete" ng-click="deleteStockPurchase(stockPurchased._id)">Delete</button></td>
          <td><button class="btn btn-sell" data-toggle="modal" data-target="#sellModal">Sell</button></td>
        </tr>
      </tbody>
    </table>
    <!-- <h4 class="dashboard-content">Sold</h4>
    <table class="table profile-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>Shares Sold</th>
          <th>Profit</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stock in stocks">
          <td>{{stock.name}}</td>
          <td>{{stock.symbol}}</td>
          <td>{{stock.priceBought.toFixed(2)}}</td>
          <td>{{stock.shares}}</td>
          <td>{{stock.priceBought.toFixed(2) * stock.shares}}</td>
          <td><button class="btn btn-edit" data-toggle="modal" data-target="#editSoldModal">Edit</button></td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
<div class="modal fade" id="editPurchasedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" ng-click="modalClose()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Edit Purchased Form</h3>
        <form action="" class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.name" required placeholder="Name">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Symbol&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.symbol" required placeholder="Symbol">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.priceBought" required placeholder="Price">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Shares Bought</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.shares"required placeholder="Shares Bought">
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn">Submit Edit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editSoldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" ng-click="modalClose()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Edit Sold Form</h3>
        <form action="" class="form-group">
          <input type="text" class="form-control" required placeholder="Name">
          <input type="text" class="form-control" required placeholder="Symbol">
          <input type="text" class="form-control" required placeholder="Price">        
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn">Submit Edit</button>
        <button class="btn">Delete Stock Sold</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" ng-click="modalClose()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Sell Form</h3>
        <form action="" class="form-group">
          <input type="text" class="form-control" required placeholder="Shares sold">
          <input type="text" class="form-control" required placeholder="Price">         
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn">Submit</button>
      </div>
    </div>
  </div>
</div>
