<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <div class="btn-group" style="display: inline-block">
        <button class="btn" style="width: 100px;">List</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="btn-group" style="display: inline-block">
        <button class="btn btn-stock-graph-filter">All</button>
        <button class="btn btn-stock-graph-filter">Rising</button>
        <button class="btn btn-stock-graph-filter">Descending</button>
      </div>
    </div>
    <div class="input-group col-md-3">
      <input type="text" class="form-control" placeholder="Filter graphs">
      <span class="input-group-btn">
        <button class="btn" type="button">Search</button>
      </span>
    </div>
  </div>
  <div id="graphs-container"></div>
</div>