
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="person-card">
        <img class="text-center" src="https://placehold.it/250x250" alt="">
        <p>Name: Stanley Liu</p>
        <p>Email: stanleyliu@berkeley.edu</p>
        <p>Invested: $9736.23</p>
      </div>
      <div class="stocks-list">
        <h4 style="display: inline;">Stocks</h4>
        <div class="add-button"><i class="fa fa-plus"></i></div>
        <div ng-repeat="stock in stocks">
          <p>{{stock.name}}</p>
          <p style="display: inline; float: right;">{{stock.price}} {{stock.change}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div style="margin-left: 13px;">
        <button ui-sref=".portfolio" class="btn">Portfolio</button>
        <button ui-sref=".stocks" class="btn">Stocks</button>
        <button ui-sref=".analytics" class="btn">Analytics</button>
      </div>
      <br>
      <div ui-view ></div>        
    </div>
  </div>
</div>
