<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-image text-center">
        <img class="col-md-8 col-md-offset-2" src="{{userData.pictureUrl}}" alt="">
        <span class="card-title">{{userData.displayName}}</span>
      </div>
      <div class="card-content text-center">
        <p class="dashboard-content">{{userData.email}}</p>
      </div>
      <hr width="90%">
      <div class="card-action text-center">
        <p class="dashboard-content">Total Expenditure:</p>
        <p class="dashboard-content">{{totalExpenditure}}</p>
        <a href="#" target="new_blank">Link</a>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <h4 class="dashboard-content">Purchased</h4>
    <table class="table profile-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>Shares</th>
          <th>Total</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Sell</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stockPurchased in stocksPurchased">
          <td>{{stockPurchased.name}}</td>
          <td>{{stockPurchased.symbol}}</td>
          <td>{{stockPurchased.priceBought.toFixed(2)}}</td>
          <td>{{stockPurchased.shares}}</td>
          <td>{{stockPurchased.priceBought.toFixed(2) * stockPurchased.shares}}</td>
          <td>{{stockPurchased.status}}</td>
          <td><button class="btn btn-edit" data-toggle="modal" data-target="#editPurchasedModal">Edit</button></td>
          <td><button class="btn btn-delete" ng-click="deleteStockPurchase(stockPurchased._id)">Delete</button></td>
          <td><button class="btn btn-sell" data-toggle="modal" data-target="#sellModal">Sell</button></td>
        </tr>
      </tbody>
    </table>
    <!-- <h4 class="dashboard-content">Sold</h4>
    <table class="table profile-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>Shares Sold</th>
          <th>Profit</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stock in stocks">
          <td>{{stock.name}}</td>
          <td>{{stock.symbol}}</td>
          <td>{{stock.priceBought.toFixed(2)}}</td>
          <td>{{stock.shares}}</td>
          <td>{{stock.priceBought.toFixed(2) * stock.shares}}</td>
          <td><button class="btn btn-edit" data-toggle="modal" data-target="#editSoldModal">Edit</button></td>
        </tr>
      </tbody>
    </table> -->
    <div class="bs-example">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>
          </h4>
        </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
            </div>
          </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Bootstrap?</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div ng-controller="AccordionDemoCtrl">
      <p>
        <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
        <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
      </p>

      <label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime">
        Open only one at a time
      </label>
      <accordion close-others="oneAtATime">
        <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
          This content is straight in the template.
        </accordion-group>
        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
          {{group.content}}
        </accordion-group>
        <accordion-group heading="Dynamic Body Content">
          <p>The body of the accordion group grows to fit the contents</p>
            <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
            <div ng-repeat="item in items">{{item}}</div>
        </accordion-group>
        <accordion-group is-open="status.open">
            <accordion-heading>
                I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            This is just some content to illustrate fancy headings.
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
<div class="modal fade" id="editPurchasedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" ng-click="modalClose()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Edit Purchased Form</h3>
        <form action="" class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.name" required placeholder="Name">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Symbol&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.symbol" required placeholder="Symbol">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.priceBought" required placeholder="Price">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Shares Bought</span>
            <input type="text" class="form-control" ng-model="stockPurchasedUpdate.shares"required placeholder="Shares Bought">
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn">Submit Edit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editSoldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" ng-click="modalClose()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Edit Sold Form</h3>
        <form action="" class="form-group">
          <input type="text" class="form-control" required placeholder="Name">
          <input type="text" class="form-control" required placeholder="Symbol">
          <input type="text" class="form-control" required placeholder="Price">        
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn">Submit Edit</button>
        <button class="btn">Delete Stock Sold</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" ng-click="modalClose()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Sell Form</h3>
        <form action="" class="form-group">
          <input type="text" class="form-control" required placeholder="Shares sold">
          <input type="text" class="form-control" required placeholder="Price">         
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn">Submit</button>
      </div>
    </div>
  </div>
</div>
