<div class="container">
  <div class="row">
    <h3 class="text-center">Signup</h3>
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
      <form action="" class="form-group">
        <input type="text" class="form-control" placeholder="Name"><br>
        <input type="email" class="form-control" placeholder="Email"><br>
        <input type="password" class="form-control" placeholder="Password"><br>
        <button class="btn btn-lg btn-block">Login</button><br><br>
        <div class="text-center">
          <h5>Already have an account?</h5>
          <p>Signin <a ui-sref="login">here.</a></p>
          <p>Or signin with one of these</p>
          <div class="btn-group" role='group'>
            <button class="btn btn-lg btn-info"><i class="fa fa-facebook"></i></button>
            <button class="btn btn-lg btn-primary"><i class="fa fa-twitter"></i></button>
            <button class="btn btn-lg btn-danger"><i class="fa fa-google"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>