<div class="container-fluid dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div style="margin-left: 13px;">
          <ul class="nav nav-tabs">
            <li><a class="dashboard-content" ui-sref=".profile">PROFILE</a></li>
            <li><a class="dashboard-content" ui-sref=".portfolio">PORTFOLIO</a></li>
            <li><a class="dashboard-content" ui-sref=".stocks">STOCKS</a></li>
            <li><a class="dashboard-content" ui-sref=".analytics">ANALYTICS</a></li>
            <div id="add-button" data-toggle="modal" data-target="#myModal" class=" btn text-center"><i class="fa fa-plus fa-lg"></i></div>
          </ul>
        </div>
        <br>
        <div ui-view></div>        
      </div>
    </div>
  </div>
</div>
