
<div class="container-fluid">

  <div class="text-center row header">
    <h1 id="landing-title">STOCKBOARD</h1>
    <h4 id="landing-description">THE STOCK PORTFOLIO DASHBOARD YOU'VE BEEN LOOKING FOR</h4>
    <button class="btn btn-lg" ui-sref="login">Register</button>
  </div>

  <div class="info-1 row">
    <div class="col-md-5">
      <h3>THE QUICKEST WAY TO ACCESS YOUR STOCK DATA</h3>
      <p class="landing-text">Stockboard is the quickest way to create a beautiful dashboard and get an instant overview of your stock portfolio.</p>
      <p class="landing-text">Connect your data and receive real-time updates on you stocks and markets you want to watch. Stockboard pulls data from </p>
    </div>
    <div class="col-md-7">
      <img style="float: right; width: 500px;" src="http://iacs-courses.seas.harvard.edu/courses/iacs_projects/www.equityforecast.com/images/stockmarket.jpg" alt="">
    </div>
  </div>

<!--   <div class="info-2 row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-10">
          <h3>RECORD</h3>
          <p class="landing-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est accusamus deleniti neque nisi eos molestias commodi odit, animi dignissimos tenetur quo amet reiciendis quae eum, explicabo libero. Et ut, debitis.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-10">
          <h3>MONITOR</h3>
          <p class="landing-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error inventore, voluptatum voluptas ex, soluta, laboriosam dolores sed itaque laborum ea nemo dolorum architecto. A, commodi doloremque incidunt sed optio beatae.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-10">
          <h3>ANALYZE</h3>
          <p class="landing-text">Lorem ipsum door sit amet, consectetur adipisicing elit. Officia eos iusto quis, harum animi labore molestias, a perspiciatis explicabo soluta hic quam veritatis reprehenderit officiis quidem, totam cumque voluptates sint.</p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="info-3 row text-center">
    <h3>Are you ready to take your stock portfolio monitoring to the next level?</h3>
    <div style="margin-top: 40px;"></div>
    <div class="col-md-4 col-md-offset-4">
      <button class="btn btn-block btn-lg" ui-sref="register">Sign Up Here</button>
    </div>
  </div>
  
</div>