<!DOCTYPE html>
<html ng-app="stockboard">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stockboard</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/paper/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div ng-controller="NavCtrl">
      <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-content" ui-sref="home">STOCKBOARD</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref="forum" class="navbar-content">FORUM</a></li>
              <li><a ui-sref="dashboard" class="navbar-content" ng-show="loggedIn">DASHBOARD</a></li>
              <li><a ui-sref="login" class="navbar-content" ng-hide="loggedIn">LOGIN</a></li>
              <li><a href="#" class="navbar-content" ng-show="loggedIn" ng-click="logout()">LOGOUT</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="modalClose()">&times;</span></button>
              <ul class="nav nav-pills" ng-hide="recordWatch || recordPurchase">
                <li><a ng-click="recordStockPurchase()">RECORD STOCK PURCHASE</a></li>
                <li><a ng-click="recordStockWatch()">WATCH STOCK PRICE</a></li>
              </ul>
            </div>

            <div class="modal-body">
              <div class="watch" ng-show="recordWatch">
                <h4 class="text-center">CHOOSE COMPANY TO WATCH</h4>
                <form action="" class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">Symbol</span>
                    <input type="text" class="form-control" id="symbolWatch" placeholder="Symbol" ng-model="watch.symbol">                  
                  </div>
                  <br><br>
                  <div style="float: right;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modalClose()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveStockWatch(watch)">Watch</button>                  
                  </div>
                </form>
              </div>
              <div class="purchase" ng-show="recordPurchase">
                <h4 class="text-center">INPUT STOCK PURCHASE</h4>
                <form action="" class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">Symbol</span>
                    <input type="text" class="form-control" placeholder="Symbol" ng-model="purchase.symbol">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Shares&nbsp;&nbsp;</span>
                    <input type="number" class="form-control" placeholder="Number of shares" ng-model="purchase.shares">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="number" class="form-control" placeholder="Price per share" ng-model="purchase.price">
                  </div>
                  <br><br>
                  <div style="float: right;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modalClose()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveStockPurchase(purchase)">Save Purchase</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div ui-view></div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.7/themes/dark-unica.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap.js"></script>
  </body>
</html>
