body {
  padding-top: 90px;
  font-family: 'Raleway';
}
.facebook, .twitter, .google {
  color: white;
}
.facebook:hover, .twitter:hover, .google:hover {
  color: white;
}
.facebook:active, .twitter:active, .google:active {
  color: white;
}
.facebook {
  background-color: #445E9A;
}
.twitter {
  background-color: #26A2DC;
}
.google {
  background-color: #E14D2F;
}
.add-button {
  display: inline-block;
  font-size: 1.5em;
  background-color: #CCCCCC;
  height: 22px;
  width: 22px;
  text-align: center;
  border-radius: 9999px;
  float: right;
  padding-top: 9.5px;
}
.stock-line-graph {
  height: 300px;
  margin-top: 20px;
}