body {
  padding-top: 60px;
  font-family: 'Raleway';
  background-color: #3D4352;
}
.btn {
  background-color: #8DC63F;
  color: white;
}
.navbar-default {
  background-color: #484D5A;
  color: white;
}
.navbar-content, .dashboard-content {
  color: white !important;
}
.signin {
  background-color: #F9F9F9;
  padding-top: 70px;
  padding-bottom: 150px;
}
.landing-text {
  font-size: 1.25em;
}
.header {
  background-color: #3D4352;
  height: 500px;
}
#landing-title {
  margin-top: 140px;
}
#landing-title, #landing-description {
  color: white;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.info-1, .info-2, .info-3, .info-4 {
  padding: 60px 60px 60px 60px;
}
.info-1, .info-3 {
  background-color: #F9F9F9;
}
.info-2, .info-4 {
  background-color: white;
}
.facebook, .twitter, .google {
  color: white;
}
.facebook:hover, .twitter:hover, .google:hover {
  color: white;
}
.facebook:active, .twitter:active, .google:active {
  color: white;
}
.facebook {
  background-color: #445E9A;
}
.twitter {
  background-color: #26A2DC;
}
.google {
  background-color: #E14D2F;
}
.stock-line-graph {
  height: 300px;
  margin-top: 20px;
}
.dashboard {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #3D434F;
}
.person-card {
  margin-top: 65px;
}
.person-card-text {
  font-size: 1.2em;
  margin-bottom: -2px;
}

.chicken {
  background-color: #3D4352;
  color: #8DC63F;
  color: #3D434F;
}


